 <!DOCTYPE html>
<html>
<head>
<title>ShittyLife</title>
</head>
<body>

<h1>Welcome to ShittyLife API</h1>
<h3>Usage</h3>
<p>
Get all posts<br>
localhost:1337/posts<br>
<br>
Get post by id<br>
localhost:1337/posts/id<br>
<br>
Get posts by author name<br>
localhost:1337/posts?author=name<br>
<br>
Get posts by date (dd/mm/YYYY HH:mm)<br>
localhost:1337/posts?date=datetime<br>
<br>
Get posts by date and author name<br>
localhost:1337/posts?date=datetime&author=name<br>
</p>

</body>
</html>

